<h1><%= @league.name %>
  <% if @league.user_leagues.find_by(user_id:current_user.id).admin %>
  <a href="/leagues/<%=@league.id%>/edit"><button type="button" class="btn btn-primary">Settings</button></a>
  <% end %>
</h1>
<h4>Status
<% if @league.user_leagues.find_by(user_id:current_user.id).fee_payed %>
<button type="button" class="btn btn-success">Paid</button>
<% else %>
<button type="button" class="btn btn-danger">Not Paid</button>
<% end %>
</h4>
<h4>Fee $<%= @league.fee %> Due date: <%= @league.fee_due_date %></h4>
<table>
  <tr>
    <th>Members</th>
    <th>Paid</th>
    <% if @league.user_leagues.find_by(user_id:current_user.id).admin %>
    <th></th>
    <% end %>
  </tr>
  <% @league.users.each do |user| %>
  <tr>
    <th><%= user.full_name %></th>
    <th>
      <% if user.user_leagues.find_by(league_id:@league.id).fee_payed %>
      <img src="/assets/paid.png" alt="paid" height="35px" width="35px"> 
      <% else %>
       <img src="/assets/not-paid.png" alt="not-paid" height="35px" width="35px">
       <% end %>
    </th>
    <% if @league.user_leagues.find_by(user_id:current_user.id).admin %>
    <th><a href="/user_leagues/<%= @league.user_leagues.find_by(user_id:user.id).id %>"><button type="button" class="btn btn-info">edit</button></a></th>
    <% end %>
  </tr>
  <% end %>
</table>
<% if @league.user_leagues.find_by(user_id:current_user.id).admin %>
  <a href="/leagues/<%= @league.id %>/invitation"><button type="button" class="btn btn-primary">Send Invitation</button></a>
<% end %>
