<div class="container">
<div class="card card--has-table">
  <div class="card__header">
    <h4><%= @league.name %></h4>
  </div>
</div>

<h1>
  <% if @league.user_leagues.find_by(user_id:current_user.id).admin %>
  <a href="/leagues/<%=@league.id%>/edit"><button type="button" class="btn btn-primary">Settings</button></a>
  <% end %>
</h1>
<h4>Status
<% if @league.user_leagues.find_by(user_id:current_user.id).isFeePaid? %>
<button type="button" class="btn btn-success">Paid</button>
<% else %>
<button type="button" class="btn btn-danger">Not Paid</button>
<% end %>
</h4>
<h4>Fee $<%= @league.fee %> Due date: <%= @league.fee_due_date %></h4>

<div class="card card--has-table">
  <div class="card__content">
    <div class="table-responsive">
      <table class="table team-leader" width="200">
     <tr>
    <th>Members</th>
    <th>Paid</th>
    <th>Total</th>
    <% if @league.user_leagues.find_by(user_id:current_user.id).admin %>
    <th></th>
    <% end %>
  </tr>
  <% @league.users.each do |user| %>
  <tr>
    <th><%= user.full_name %></th>
    <th>
      <% if user.user_leagues.find_by(league_id:@league.id).isFeePaid? %>
      <img src="/assets/paid.png" alt="paid" height="35px" width="35px"> 
      <% else %>
       <img src="/assets/not-paid.png" alt="not-paid" height="35px" width="35px">
       <% end %>
    </th>
    <th>
      $<%= user.user_leagues.find_by(league_id:@league.id).total_payments %>
    </th>
    <% if @league.user_leagues.find_by(user_id:current_user.id).admin %>
    <th><a href="/user_leagues/<%= @league.user_leagues.find_by(user_id:user.id).id %>"><button type="button" class="btn btn-info">edit</button></a></th>
    <% end %>
  </tr>
  <% end %>
      </table>
    </div>
</div>
<br/>

<% if !current_user.user_leagues.find_by(league_id:@league.id).isFeePaid? %>
<a href="/payments/new/<%= @league.user_leagues.find_by(user_id:current_user.id).id %>" class="btn btn-warning" role="button">Make a payment</a>
<% else %>
<a href="/payments/new/<%= @league.user_leagues.find_by(user_id:current_user.id).id %>" class="btn btn-warning disabled" role="button" aria-disabled="false">Make a payment</a>
<% end %>
<% if @league.user_leagues.find_by(user_id:current_user.id).admin %>
  <a href="/leagues/<%= @league.id %>/invitation"><button type="button" class="btn btn-primary">Send Invitation</button></a>
<% end %>
<br/><br/>

<h2>Activity</h2>
<ul>
  <%  current_user.user_leagues.find_by(league_id:@league.id).payments.each do |payment|%>
  <li>You made a $<%= payment.pretty_amount %> payment on <%= payment.created_at.strftime("%b %e, %l:%M %p") %></li>
  <% end %>
</ul>
</div>
</div>


