<h1><%= @user_league.user.full_name %></h1>
<h4>Fee $<%= @user_league.league.fee %> Due date: <%= @user_league.league.fee_due_date %></h4>
<h4>Status</h4>
<% if @user_league.isFeePaid? %>
<button type="button" class="btn btn-success">Paid</button>
<% else %>
<button type="button" class="btn btn-danger">Not Paid</button>
<% end %>
<%= form_tag "/user_leagues/#{@user_league.id}", method: :patch do %>
<div>
  <% if @user_league.isFeePaid? %>
  Amount: <input name="amount" type="decimal" disabled/>
  <% else %>
  Amount: <input name="amount" type="decimal" />
  <% end %>
</div>
<input id="user_league_id" name="user_league_id" type="hidden" value="<%= @user_league.id %>" />
<button type="submit" class="btn btn-info">Submit Payment</button>
<% end %> 
<% if !@user_league.admin %>
  <%= form_tag "/user_leagues/#{@user_league.id}", method: :delete do  %>
  <input class="btn btn-danger" type="submit" value="Remove user">
  <% end %>
<% end %> 
<a href="/leagues/<%= @user_league.league.id %>">back to league</a>


